div.container-fluid
  div.jumbotron
    h1 ng-frmwrk
    p Angluar JS / CSS / Framework
    a.btn.btn-primary(href='#/components') I want more!
  div.row
    div.col-md-4
      div.panel.panel-info
        div.panel-heading Angular JS inside
        div.panel-body The most flexible JavaScript MVW-Framework. Made for performance and nice apps.
    div.col-md-4
      div.panel.panel-info
        div.panel-heading Bootstrap GUI
        div.panel-body The most powerful and sleek CSS Framework. With native Angular JS support.
    div.col-md-4
      div.panel.panel-info
        div.panel-heading Grunt / Express support
        div.panel-body The most famous task runner and built in http server. Right at your hands. Everything's automatic.