<h1>ng frmwrk</h1>
<p class="lead">
  Boilerplate for angular js made with grunt
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, tempora, itaque. Commodi maxime unde at esse placeat ex fugiat laboriosam rem nam eaque. Mollitia excepturi, corporis distinctio aliquid nesciunt a.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolorum ullam molestiae eaque quidem atque quis deleniti, deserunt, perspiciatis fuga nobis ut impedit, officiis magnam vitae cupiditate nostrum odio aspernatur?</p>